@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');


.threadsContainer{
    width: 100%;
    height: calc(100vh - 103px);
    overflow-y: auto;
}

.singleThread:hover{
    background-color: #72727233;
    
}

.singleThread{
    width: calc(90% + 6px);
    height: 60px;
    margin-left: 5%;
    margin-top: 5px;
    /* background: #72727233; */
    align-items: center;
    border-radius: 10px;
    padding: 5px 17px;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
}

.messageInput{
    height: 35px;
    flex-grow: 1;
    border-radius: 15px;
    resize: none;
    padding: 4px 12px;
    font-size: 14px;
    background-color: #72727233;
    outline: none;
    border: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
    /* vertical-align: middle; */
}


::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background: #ababab;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box; 
    
}

::-webkit-scrollbar-thumb:hover {
    border: 0;
}


.p-contextmenu{
    background: black !important;
}

.p-contextmenu div{
    background-color: black !important;
}

.p-contextmenu div:hover{
    background-color: #72727233 !important;
}

.p-menuitem-text{
    font-size: 14px;
    color: white;
}

.p-submenu-list{
    background-color: black !important;
    border-radius: 0 !important;
    
}
.p-menuitem-icon,
.p-submenu-icon{

    color: white;
}

